{% extends "home.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h1>Stocks</h1>
    <form method="post" action="{% url 'StockMarket' %}"  >
        {% csrf_token %}
        <div class="mt-2 pl-2">
        <input class="form-control mt-2 pl-2" type="search" placeholder="Search Stocks" name="search" id="search"><br>
        </div>
        <button class="btn btn-success"  type="submit" name="action" value="search">Search</button>
        <button class="btn btn-success"  type="submit" name="action" value="all">Remove Filter</button>
    </form><br>
    <div class="content" id="content">
    {% for stock in Stocks %}
        <div class="single_content border border-success mt-2 pl-2" style="font-size: 30px;">
            Stock: <a href="{% url 'details' stock.id %}" >{{stock.title}}</a>
        <a href="{% url 'query' stock.id %}" style='float: right;padding-right: 10px;'>Query</a>
        </div>
    {% endfor %}
    </div>
    <div class="load-more__btn mt-3" id="btn">
        <button type="button" class="btn btn-success" onclick="loadmorestock()">Load More stock</button>
    </div>
    <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert'>
    No more stocks to load!!
    </div>
</div>
 {{total_obj|json_script:"json-total"}}
<script>
const loadBtn = document.getElementById('btn');
const total = JSON.parse(document.getElementById('json-total').textContent);
const alert = document.getElementById('alert');
const search = document.getElementById('search');
var _current_item = $('.single_content').length


function loadmorestock() {
    var _current_item = $('.single_content').length
    const content_container = document.getElementById("content");
    $.ajax({
        url: '{% url "load" %}',
        type: 'GET',
        data: {'loaded_item': _current_item},
        success: function (response) {
            const data = response.Stocks
            data.map(stock => {
                console.log(stock.id);
                content_container.innerHTML += `<div class="single_content border border-success mt-2 pl-2" style="font-size: 30px;">
                                                    Stock: <a href="{% url 'details' 3 %}">${stock.title}</a>
                                                    <a href="{% url 'query' 3 %}" style='float: right;padding-right: 10px;'>Query</a>
                                                </div>`})
            if (_current_item == total) {
                alert.classList.remove('not-visible');
                loadBtn.classList.add('not-visible'); }
            }
    });
}
if (_current_item == total){
alert.classList.remove('not-visible');
loadBtn.classList.add('not-visible');
}
</script>

{% endblock %}